*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
html{
    font-family: 'Roboto', sans-serif;
    font-size: 90%;
} 
header{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.938); 
}
body{
    background-color: rgb(0, 0, 0) ;
}
ul{
    list-style: none;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-items: center;
}
nav div a{
    font-size: 25px;
    margin: 10px;
    font-family: 'Roboto', sans-serif;
}
.logo {
    width: 200px; height: 150px;
}
.carousel-indicators li{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.redes{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 10px;
}
.redes a{
    margin: 10px;
}
.somos1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.somos1 div{
    margin: 10px;
    padding: 5px;
    border: 1px solid black;
}
.contenidoq{
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10%; 
}
.contenidoq h3{
    font-family:'Cinzel', serif;
    align-self: center;
    font-size: 2rem;
    padding: 5px;
    margin: 10px;
    text-decoration: underline;
}
.contenidoq p{
    align-self: center;
    font-size: 1.5rem;
    padding: 5px;
    margin: 10px;
    font-style: italic;
}
.mapa{
justify-self: center;
align-self: center;
border-radius: 10%;
}
.mapa iframe{
    border-radius: 10px;
}
#servicios{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#servicios p{
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
    font-size: 4rem;
    padding: 90px;
    color: rgb(199, 99, 166);
}
#servicios img{
    margin: 20px;
    width: 50%;
    height: 70%;
    border-radius: 20%;
}
.galeria{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 10px;
    grid-row-gap: 15px;
}
.galeria iframe{
 width: 1fr;
 height: 300px;
 justify-self: center;
 align-self: center;
 padding: 20px;
}
.back{
    font-size: 20px;
    margin: 50px;
    display: block;
    color: rgb(199, 99, 166);
}
form{
    background-color: rgba(255, 255, 255, 0.9); 
    padding: 5px;
}
footer{
    background-color: rgba(255, 255, 255, 0.938); 
}

@media (max-width: 768px) {
    nav div a{
        font-size: 20px;
        padding: 5px;
        margin: 5px;

    }
    .logo{
        width: 150px;
        height: 100%;
        margin: 15px, 15px;
    }
    .container a img{
        width: 30px;
        height: 30px;
    }
    .somos1{
        display: block;
        border-radius: 0;
    }
    .somos1 div{
        border: none;
    }
    .contenidoq{
        text-align: center;
    }
    .contenidoq p{
        font-size: 1.5rem;
    }
    .mapa{
        display: flex;
    }
    #servicios p{
        font-size: 1.2rem;
        display: block;
        padding: 20px;
        font-weight: bold;
    }
    .galeria{
        display: block;
        text-align: center;
    }
    .galeria iframe{
        height: auto;
    }
}
